@model HomeWork.Models.IndexViewModel
@using HomeWork.Models;

@{
    ViewBag.Title = "Index";
}
<div class="container body-content" id="MainContainer">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <h2>List Users</h2>
    <style>
        .list-group-item:hover, a.list-group-item:focus {
            text-decoration: none;
            background-color: rgb(149, 212, 255);
        }

        .glyphicon-info-sign {
            color: rgb(255, 106, 0);
        }

        .list-group-item:active {
            background-color: rgb(149, 212, 255);
        }

        .glyphicon-user {
            color: rgb(229, 154, 101);
        }

        .panel-footer .pagination {
            margin: 0;
        }

        .panel-body .radio, .checkbox {
            display: inline-block;
            margin: 0px;
        }

        .list-group {
            margin-bottom: 0px;
        }
    </style>

    @using (Html.BeginForm("Index", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <ul class="nav">
                                    @for (int i = 0; i < Model.MaxShowUser; i++)
                                    {
                                        if (i >= Model.listusers.Count())
                                        {
                                            break;
                                        }
                                        <li class="list-group-item" userID="@Model.listusers[i].Id">
                                            <div class="checkbox">
                                                <span class="glyphicon glyphicon-user"></span>
                                                <label for="checkbox">@Model.listusers[i].FirstName @Model.listusers[i].LastName</label>
                                            </div>
                                            <div class="pull-right action-buttons ">
                                                <a href="#" userID="@Model.listusers[i].Id"><span class="glyphicon glyphicon-info-sign"></span></a>
                                            </div>
                                        </li>
                                    }
                                </ul>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>
                                            Total Count <span class="label label-info">@Model.listusers.Count()</span>
                                        </h6>
                                    </div>
                                    <div class="col-md-6">
                                        <!--TODO-->
                                        <ul class="pagination pagination-sm pull-right">
                                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                                            <li><a href="javascript:void(0)">»</a></li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="user_content"></div>
                    </div>
                </div>
            </div>
        </div>


            <div class="form-horizontal" style="margin-top: 50px">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-10">
                        <input type="button" class="btn btn-default" onclick="window.location='@Url.Action("AddUser", "User")'" value="Add" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-10">
                        <input type="submit" class="btn btn-default" value="Edit" id="EditUser" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-10">
                        <input type="submit" class="btn btn-default" id="DelUser" value="Delete" />
                    </div>
                </div>
            </div>

    }

</div>
<script src="~/Scripts/list.users.js"></script>
<script>
    urlRefreshList = '@Url.Action("DeleteUser", "User")';
    urlDetails = '@Url.Action("DetailsUser", "User")';
    urlPostIndex = '@Url.Action("EditUser", "User")';
</script>
<script>

</script>