@model HomeWork.Models.IndexViewModel

<div class="container ">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-body" id="userlist">
                    <ul class="nav list-group">
                        @for (int i = 0; i < Model.MaxShowUser; i++)
                        {
                            if (i >= Model.listusers.Count())
                            {
                                <li class="list-group-item" style="visibility: hidden"><div class="checkbox"><span class="glyphicon glyphicon-user"></span></div></li>
                                continue;
                            }
                            <li class="list-group-item"><span style="visibility: hidden" userID="@Model.listusers[i].Id"></span>
                                <div class="checkbox"><span>@(Model.Counter++).</span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <label for="checkbox">@Model.listusers[i].FirstName @Model.listusers[i].LastName</label>
                                </div>
                                <div class="pull-right action-buttons ">
                                    <a href="#" userID="@Model.listusers[i].Id"><span class="glyphicon glyphicon-info-sign"></span></a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>
                                Total Count: <span class="label label-info" id="total-count">@(Model.TotalCountUser)</span>
                            </h6>
                        </div>
                        <div class="col-md-6">
                            <ul class="pagination pagination-sm pull-right">
                                <li><a href="#" indexPage="@Model.PreviousPage"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
                                <li><span id="current-page">@Model.CurrentPage</span></li>
                                <li><a href="#" indexPage="@Model.NextPage"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="user_content"></div>
        </div>
    </div>
    <span class="text-danger field-validation-error" id="select-validation"></span>
    <span id="counter" style="display:none">@Model.Counter</span>
    <span id="revert" style="display:none">@((Model.MaxShowUser)+Model.listusers.Count)</span>
    <span id="delete-user" style="display:none">@Model.listusers.Count</span>
</div>
